.wsb-registration-page {
  .wsb-body {

    display: flex;
    flex-direction: column;

    max-width:800px;

    .wsb-tickets > * {
      @media (max-width: 600px) {
        width: calc(50% - 2px);
        margin-bottom: 4px;
      }

      @media (max-width: 600px) {
        height: 118px;
      }

      @media (max-width: 480px) {
        height: auto;
        width: 100%;
      }
    }

    .wsb-trainers {
      @media (max-width: 600px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      > * {
        @media (max-width: 600px) {
          width: calc(50% - 2px);
        }

        @media (max-width: 480px) {
          width: 100%;
        }
      }
    }
  }
}
