.wsb-content {
  //Layout

  .wsb-event-page {

    .wsb-header {
      background-size: 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      h1 {
        margin: 0 0 20px 0;
      }
    }

    @media (max-width: 800px) {
      .wsb-header.wsb-show-cover {
        height: 320px;
        background-size: cover;
        background-position: center;
        color:#FFFFFF;
        h1 {
          margin: 0 0 20px 16px;
          font-size: 32px;
        }
      }
    }


    .wsb-body {
      padding-top: 20px;

      display: flex;
      flex-direction: column;

      .wsb-info, .wsb-register__btn-wrapper { display: none;}
      .wsb-description {
        margin-bottom: 32px;
        .wsb-cover-image { display: none; }
        .wsb-info, .wsb-register__btn-wrapper { display: block; }
      }



      @media (min-width: 800px) {
        flex-direction: row;

        .wsb-description {
          width: calc(100% - 30px - 300px);
          .wsb-cover-image {
            margin-bottom: 32px;
            display: block;
          }
          .wsb-info, .wsb-register__btn-wrapper { display: none; }
        }

        .wsb-aside {
          width: 300px;
          margin-left: 30px;
          .wsb-info, .wsb-register__btn-wrapper { display: block; }
          .wsb-info + .wsb-register__btn-wrapper { margin-top: -1em; }
        }
      }
    }

  }

  // sidebar register button
  .wsb-register__btn-wrapper {
    margin-bottom: 2em;
  }

  .wsb-register__btn {
    display: block;
    width: 100%;
    padding: 1em 0;
    text-decoration: none !important;
    color: #fff !important;
    text-align: center;
    .transition(all .15s ease);

    -webkit-font-smoothing: antialiased;

    &:focus {
      outline: none !important;
    }

    &:disabled {
      cursor: default;
      border: 0px;
      opacity: 0.5 !important;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  // other events
  .wsb-events {
    margin-bottom: 32px;
  }

  .wsb-events__title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .wsb-workshop {
    border-top: 1px solid #e8e9eb;
    padding: 10px 0 10px 10px;
    color: @text-grey;

    &:last-child {
      border-bottom: 1px solid #e8e9eb;
    }

    a {
      font-weight: 700;
    }

    .wsb-tag, .wsb-free {
      display: block;
      margin-bottom: 5px;
      position: relative;
      left: -10px;
      padding: 0.25em 1em;
    }
  }

  .wsb-before-registration {
    display: none;
  }

  .wsb-registration-details {
    display: flex;
    align-items: flex-start;

    @media (max-width: 800px) {
      flex-direction: column;
      .wsb-label {
        flex-basis: auto;
        display: none;
      }
    }
  }
}

.wsb-registration-page {
  .wsb-body {

    display: flex;
    flex-direction: column;

    max-width:600px;
  }

  .wsb-info-section {
    border-bottom: 1px solid @text-grey !important;
    padding-bottom: 1em;
  }

  .wsb-info {
    margin-bottom: 32px;
  }

  .wsb-form__btn {
    max-width: unset;
  }

  .wsb-congratulation {
    padding: 60px 0;
  }

  .wsb-congratulation__title {
    font-size: 24px;
  }

  .wsb-congratulation__p {
    font-size: 16px;
  }
}
