@import "./_form";
@import "./_trainers";
@import "./_sharing";
@import "./_tickets";
@import "./_payment";


// high-level layout
.wsb-content {
  position: relative;
  min-height: 100%;

  .wsb-center {
    //This attribute is important for built-in pages
    //width: 1120px;
    margin-right: auto;
    margin-left: auto;
  }

  // header
  .wsb-header h1 {
    margin: 0 0 14px;
    font-size: 3em;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;

    @media @phone {
      font-size: 1em;
    }
  }

  // info block
  @media @tablet {
    .wsb-info-block {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .wsb-info {
    margin-bottom: 2em;
  }

  .wsb-info__title {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;

    span {
      display: none;
    }
  }

  .wsb-info__footer {
    color: #788188;
  }

  .wsb-cover-image {
    width: 100%;
  }

  // sidebar register button
  .wsb-sidebar__register {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    padding: 1em 0;
    text-decoration: none !important;
    color: #fff !important;
    text-align: center;
    border-radius: 2px;
    .transition(all .15s ease);

    -webkit-font-smoothing: antialiased;

    &:focus {
      outline: none !important;
    }

    &:disabled {
      cursor: default;
      opacity: 0.5 !important;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  // other events
  .wsb-events {
    margin-bottom: 30px;
  }

  .wsb-events__title {
    font-weight: 500;
    margin-bottom: 10px;
  }

  .wsb-workshop {
    border-top: 1px solid #e8e9eb;
    padding: 10px 0;
    color: @text-grey;

    &:last-child {
      border-bottom: 1px solid #e8e9eb;
    }

  }

  .wsb-before-registration {
    display: none;
  }

}
