// Tickets

.wsb-tickets {
  margin-bottom: 30px;
}

.wsb-ticket {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: left;

  &.state-closed {
    background-color: #ffffff;
    border-color: #c1bfbf;

    .wsb-ticket__val {
      color: #888888;
    }

    .wsb-ticket__name {
      color: #333333;
    }
  }

  @media @tablet {
    flex: 1 0 50%;
  }
  @media @phone {
    flex: 1 0 100%;
  }
}


.wsb-ticket__val {
  margin-bottom: 0.4em;
  font-size: 2em;

  @media @phone {
    margin-bottom: 0;
  }
}

.wsb-ticket__desc {
  color: #788188;
  min-height: 1.3em;
  font-size: 0.8em;

  @media @tablet {
    font-size: 1em;
  }

}

.wsb-ticket__footer {
  color: #788188;
  font-size: 0.8em;
  margin-top: 1em;

  @media @tablet {
    font-size: 1em;
  }
}


