// Tickets

.wsb-tickets {
  margin-bottom: 30px;

  @media (max-width: 600px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

    > * {
      width: calc(50% - 2px);
      margin-bottom: 4px;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;

    > * {
      width: 100%;
    }
  }
}

.wsb-ticket {
  padding: 10px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 4px;

  @media (max-width: 600px) {
    font-size: 13px;
  }

  &.state-closed {
    background-color: #ffffff;
    border-color: #c1bfbf;

    .wsb-ticket__val {
      color: #888888;
    }

    .wsb-ticket__name {
      color: #333333;
    }
  }
}

.wsb-ticket__val {
  margin-bottom: 0.4em;
  font-size: 32px;

  @media (max-width: 600px) {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.wsb-ticket__name {
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.wsb-ticket__desc {
  color: #788188;
  min-height: 1.3em;
  font-size: 0.8em;

  @media (max-width: 600px) {
    font-size: inherit;
  }
}

.wsb-ticket__footer {
  color: #788188;
  font-size: 0.8em;
  margin-top: 1em;

  @media (max-width: 600px) {
    text-align: right;
    color: #333333;
    font-size: inherit;
    margin-top: 0;
  }
}


