.wsb-content {
  .wsb-trainers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wsb-registration-page .wsb-trainers {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wsb-profile {
    position: relative;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 300px;
  }

  .wsb-registration-page .wsb-profile {
    flex-direction: row;
  }

  .wsb-profile_img {
    display: block;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .wsb-event-page .wsb-profile_img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 300px;
    width: 300px;
  }

  .wsb-registration-page .wsb-profile_img {
    border-radius: 7px;
    height: 70px;
    width: 70px;
  }

  .wsb-event-page  .wsb-profile__rating {
    position: absolute;
    margin-top: 265px;
    margin-left: 16px;
    background: #819D44;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #F5F5F5;
    padding: 2px 4px 2px;
  }

  .wsb-registration-page  .wsb-profile__rating {
    position: absolute;
    margin-top: 55px;
    margin-left: 25px;
    background: #819D44;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #F5F5F5;
    padding: 2px 4px 2px;
    z-index: 99;
  }

  .wsb-profile__name {
    padding: 12px 16px;
    overflow: hidden;
  }

  .wsb-event-page .wsb-profile__name {
    background: @tile-background;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    &-link {
      font-weight: 700;
    }
  }

  .wsb-profile__bio {
    display: none;
  }

  .wsb-profile__country {
    color: #888;
  }
}
