.wsb-content {
  .wsb-trainers {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  .wsb-trainer {
    margin-bottom: 38px;
  }

  .wsb-profile {
    position: relative;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .wsb-profile_img {
    display: block;
    height: 14em;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .wsb-profile__name {
    padding: 12px 10px;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    background: @light-grey;
    max-width: 18em;
  }
  .wsb-profile__rating {
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-top: 8px;

    .fa-stack {
      width: 1.1em;
      line-height: 1.9em;
    }
  }

}
