.wsb-content .wsb-trainer-profile {
  .wsb-trainer__header {
    background-color: @light-grey;
    margin-bottom: 15px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }

  .wsb-trainer__header-row {
    display: flex;
    align-items: center;
    padding-bottom: 1em;

    @media @phone {
      flex-direction: column;
    }

    .wsb-trainer-title {
      width: 100%;
      padding: 0 16px;
    }

    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      object-fit: cover;

      @media @phone {
        width: 100%;
        height: auto;
      }
    }
  }

  .wsb-trainer__header-col {
    padding: 0 16px;
  }

  .wsb-description {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-row-start: auto;
    grid-row-end: span auto;
  }

  .wsb-toolbar {
    &.wsb-first {
      -ms-grid-row: 2;
      -ms-grid-column: 3;
    }
    &.wsb-second {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
  }

  .wsb-trainer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    @media @phone {
      display: block;
    }
  }

  .wsb-trainer-name {
    font-weight: 700;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .wsb-trainer-country {
    font-size: 16px;
    margin-top: 0;
    padding-bottom: 1em;
    color: @text-grey;
  }

  .wsb-contact-button {
    width: 150px;
    margin-left: 32px;

    @media @phone {
      width: 100%;
    }
  }

  .wsb-trainer__social-networks {
    display: flex;
    justify-content: center;

    a {
      font-size: 16px;
      padding-left: 16px;
      text-transform: uppercase;

      &:first-child {
        padding-left: 0;
      }

      .fab {
        font-size: 24px;
      }
    }

    @media @phone {
      display: block;
    }
  }

  .header-col__facts-and-badges {
    width: 100%;
  }

  .wsb-trainer-details-facts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 13px;
    padding-right: 50px;

    .wsb-trainer-details-fact {
      align-items: center;
      justify-content: space-between;
      flex: 1 1 50px;
      text-align: center;
      padding: 10px;
      display: flex;
      vertical-align: top;
      background-color: #f5f5f5;
      border-radius: 5px;

      + .wsb-trainer-details-fact {
        margin-left: 8px;
      }

      &:last-child {
        border-right: none;
      }

      @media @phone {
        flex: 1 1 50%;
        padding-bottom: 1.5em;
      }
    }

    .wsb-big-number {
      font-size: 32px;
      font-weight: 700;
    }

    .wsb-descr {
      color: #333;
      display: block;
      text-align: left;
    }

    .wsb-descr__sub {
      color: @text-grey;
      text-align: left;
    }
  }

  .wsb-trainer-badges {
    width: 300px;
    flex-shrink: 0;

    @media @phone {
      text-align: center;
    }
  }

  .wsb-trainer__badge.wsb-trainer__badge {
    width: 65px;
    height: auto;
    padding-bottom: 16px;

    + .wsb-trainer__badge {
      margin-left: 16px;
    }

    @media @phone {
      width: 250px;
    }
  }


  .wsb-testimonial {
    background-color: @light-grey;
    padding: 20px;
    margin-bottom: 10px;
  }

  .wsb-cite {
    color: @text-grey;
  }

  .wsb-rating {
    float: right;
    color: @yellow;
    font-size: 1em;

    .fa-stack {
      width: 1.1em;
      line-height: 1.9em;
    }
  }

  @media screen and (max-width: 40em) {
    .wsb-trainer-name {
      font-size: 24px;
    }

    .wsb-trainer__social-networks {
      a:first-child {
        padding-left: 0;
      }
    }

    .wsb-contact-button {
      font-size: 16px;
    }
  }
}
