{% macro filter(name, values) %}
    <select class="wsb-filter" data-filter data-name="{{ name }}">
        {% for item in values %}
            {% if item.selected %}
              <option class="wsb-filter" value="{{ item.value }}" selected="true">{{ item.name }}</option>
            {% else %}
              <option class="wsb-filter" value="{{ item.value }}">{{ item.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endmacro %}
