{% macro search(value) %}
  <div class="wsb-search">
    <span class="wsb-search-glass">🔎︎</span>
    <input class="wsb-filter" name="wsb-search" value="{{ value }}" data-filter-search
      placeholder="Enter attendee's name">
  </div>
{% endmacro %}
