{% extends "./base.njk" %}

{% block header %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=Object.is%2CNumber.isNaN%2CString.prototype.startsWith%2CString.prototype.repeat%2CIntl.~locale.en"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/widgets.css">
  <script>
    const siteConfig = {
      apiKey: '{{ siteConfig.apiKey }}',
      theme: '{{ siteConfig.apiKey.theme }}'
    };
  </script>
{% endblock %}


{% block footer %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/widgets.js"></script>
{% endblock %}
