{% from "./common/filters.njk" import drawFilters %}
{% from "./event/table.njk" import table %}
<div class="wsb-content">
    {{ drawFilters(filters) }}
    {{ table(events, template, config, _t, _f) }}
</div>
