<div class="wsb-content">
    <div class="wsb-page">
        <div class="wsb-header wsb-center">
            <h1>{{ event.title }}</h1>
        </div>
        <div class="wsb-body wsb-center">
            <div class="wsb-right-col">
                <div>
                    {% if event.state.closed() %}
                        <button class="wsb-sidebar__register" disabled>{{ _f(event.state) }}</button>
                    {% else %}
                        <a href="#" target="_blank" data-registration-button
                                {% if event.tickets.getActiveTicketId() %}
                                    data-ticket-id="{{ event.tickets.getActiveTicketId() }}"
                                {% endif %}
                           class="wsb-sidebar__register">{{ _t('event.register') }}</a>
                    {% endif %}
                </div>
                {% from "./event/info.njk" import info %}
                {{ info(event, _t, _f) }}
                <div class="wsb-workshops" id="upcoming-events">
                    <div class="wsb-workshops__title">
                        {{ _t('sidebar.future') }}:
                    </div>
                    <div data-events-list></div>
                </div>
                {% from "./event/share.njk" import shareEvent %}
                {{ shareEvent(event, _t, _f) }}
            </div>
            <div class="wsb-left-col">
                {% if event.description %}
                    <div class="wsb-desc">{{ event.description | safe }}</div>
                {% endif %}
                {% if options.withTrainers %}
                    <div class="wsb-trainers">
                        {% for trainer in event.trainers %}
                            <div class="wsb-trainer">
                                <div class="wsb-profile">
                                    {% set url = options.trainerPageUrl + '?id=' + trainer.id %}
                                    {% set photo = "background-image: url(" + trainer.photo + ");" %}
                                    <a class="wsb-profile_img" href="{{ url }}" style="{{ photo }}"></a>
                                    <div class="wsb-profile__name">
                                        <div class="inner">
                                            <h3>
                                                {{ trainer.firstName }}
                                                <br/>
                                                {{ trainer.lastName }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                {% if trainer.bio %}
                                    <div class="wsb-profile__text" data-max-height="80">
                                        {{ trainer.bio | safe }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% from "./builtInForm.njk" import registrationForm %}
                <div data-registration-block class="wsb-before-registration">
                    {{ registrationForm(event.registrationForm, countries, _t, _f) }}
                </div>

            </div>
        </div>
    </div>
</div>
