<div class="wsb-content">
  <div class="wsb-page wsb-event-page">
    <div class="wsb-header">
      <h1>{{ event.title }}</h1>
    </div>
    <div class="wsb-body">
      <div class="wsb-toolbar wsb-first">
        {% from "./event/registerButton.njk" import registerButton %}
        {{ registerButton(event, config, _t, _f) }}
        {% from "./event/info.njk" import info %}
        {{ info(event, config, _t, _f) }}
      </div>
      <div class="wsb-description">
        {% if config.coverImage.showInside() and event.coverImage %}
          <img src="{{ event.coverImage.url }}" class="wsb-cover-image"/>
        {% endif %}
        {% if event.description %}
          <div class="wsb-desc">{{ event.description | safe }}</div>
        {% endif %}
      </div>
      <div class="wsb-toolbar wsb-second">
        {% from "./event/share.njk" import shareEvent %}
        {{ shareEvent(event, _t, _f) }}
        {% if config.showAdditionalButton %}
          {{ registerButton(event, config, _t, _f) }}
        {% endif %}
        {% if config.showFutureEvents %}
          <div class="wsb-info" id="upcoming-events">
            <div class="wsb-events__title">
              {{ _t('sidebar.future') }}:
            </div>
            <div data-events-list></div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
