<div class="wsb-content">
    <div class="wsb-page wsb-event-page">
        <div class="wsb-header wsb-center">
            <h1>{{ event.title }}</h1>
        </div>
        <div class="wsb-body wsb-center">
            <div class="wsb-right-col">
                <div>
                    {% if event.state.closed() %}
                        <button class="wsb-sidebar__register" disabled>{{ _f(event.state) }}</button>
                    {% else %}
                        <a href="#" target="_blank" data-registration-button
                                {% if event.tickets.getActiveTicketId() %}
                                    data-ticket-id="{{ event.tickets.getActiveTicketId() }}"
                                {% endif %}
                           class="wsb-sidebar__register">{{ _t('event.register') }}</a>
                    {% endif %}
                </div>
                {% from "./event/info.njk" import info %}
                {{ info(event, config, _t, _f) }}
                <div class="wsb-info" id="upcoming-events">
                    <div class="wsb-workshops__title">
                        {{ _t('sidebar.future') }}:
                    </div>
                    <div data-events-list></div>
                </div>
                {% from "./event/share.njk" import shareEvent %}
                {{ shareEvent(event, _t, _f) }}
            </div>
            <div class="wsb-left-col">
                {% if event.description %}
                    <div class="wsb-desc">{{ event.description | safe }}</div>
                {% endif %}

                {% from "./builtInForm.njk" import registrationForm %}
                <div data-registration-block class="wsb-before-registration">
                    {{ registrationForm(event.registrationForm, countries, _t, _f) }}
                </div>

            </div>
        </div>
    </div>
</div>
