{% macro registrationForm(form, countries, _t, _f) %}
    <div class="wsb-congratulation" id="wsb-success">
        <h2 class="wsb-congratulation__title">
            {{ _t('registration.successTitle') }}
        </h2>
        <div class="wsb-congratulation__p">
            {{ _t('registration.successMsg') }}
        </div>
    </div>

    <form action="#" class="wsb-form" id="wsb-form">
        <div class="wsb-form__body">
            <div class="wsb-form__instructions">{{ form.instructions }}</div>
            {% from "./field.njk" import formField %}
            {% for section in form.sections %}
                {% if section.name %}
                    <div class="wsb-form__section-title">{{ _t('form.section.' + section.name) }}</div>
                {% endif %}
                <section>
                    {% for field in section.fields %}
                        {{ formField(field, countries, _t, _f) }}
                    {% endfor %}
                </section>
            {% endfor %}
            <div class="wsb-form__error" data-form-major-error></div>
            <button data-widget-submit type="submit" class="wsb-form__btn">
                {{ _t('event.form.button') }}
            </button>
        </div>
    </form>
{% endmacro %}
