{% from "./event/info.njk" import infoHead, infoTrainers %}
<div class="wsb-content">
  <div class="wsb-page wsb-registration-page">
    <div class="wsb-header">
      <h1>{{ event.title }}</h1>
    </div>

    <div class="wsb-body">
      <section class="wsb-info-section">
        <div class="wsb-registration-details">
          <div class="wsb-label">Details</div>
          {{ infoHead(event, config, _t, _f) }}
        </div>

        {% if config.trainers.show %}
        <div class="wsb-registration-details">
          <div class="wsb-label">Trainers</div>
          {{ infoTrainers(event, false, _t, _f) }}
        </div>
        {% endif %}
      </section>

      {% from "./form.njk" import registrationForm %}
      {% if event.registrationForm %}
        {{ registrationForm(event, countries, config, _t, _f) }}
      {% endif %}
    </div>

    <div class="wsb-copyright"><a href="https://workshopbutler.com/" target="_blank">Powered by Workshop Butler</a></div>
  </div>
</div>
