{% for event in events %}
    <div class="wsb-workshop">
        {{ _f(event.schedule, 'full_short') }} in {{ _f(event.location) }}
        <br>
        <a href="{{ event.url }}" class="wsb-link">
            {{ event.title }}
        </a>
    </div>
{% endfor %}
