<div class="wsb-content">
    <div class="wsb-page">
        <div class="wsb-center">
            {% if trainer.testimonials.length > 0 %}
                <div>
                    {% for testimonial in trainer.testimonials %}
                        <div class="wsb-testimonial">
                                <span class="wsb-cite">
                                    <strong>{{ testimonial.attendee }}</strong>
                                    {% if testimonial.company %}
                                        , {{ testimonial.company }}
                                    {% endif %}
                                </span>
                            {% if testimonial.rating %}
                                <div class="wsb-rating">
                                    {% set rating = testimonial.rating %}
                                    {% set stars = range(5) %}
                                    {% for item in stars %}
                                        {% set index = item + 1 %}
                                        {% if index * 2 <= rating %}
                                            <i class="fas fa-star"></i>
                                            {% elif index * 2 > rating + 1 %}
                                            <i class="far fa-star"></i>
                                        {% else %}
                                            <div class="fa-stack">
                                                <i class="fas fa-star-half fa-stack-1x"></i>
                                                <i class="far fa-star-half fa-stack-1x fa-flip-horizontal"></i>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <p class="wsb-testimonial-text">{{ testimonial.content }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
