<div class="wsb-content">
  <div class="wsb-page">
    <div class="wsb-body wsb-trainer-profile">
      <div class="wsb-trainer__header">
        <div class="wsb-trainer__header-row">
          <img src="{{ trainer.photo }}" alt="{{ trainer.fullName() }}"/>

          <div class="wsb-trainer-title">
            <h1 class="wsb-trainer-name">{{ trainer.fullName() }}</h1>

            {% if trainer.country %}
              <div class="wsb-trainer-country">{{ _t('country.' + trainer.country) }}</div>
            {% endif %}
          </div>

          <div class="wsb-trainer__header-col">
            <div class="wsb-trainer-buttons">
              <div class="wsb-trainer__social-networks">
                {% if trainer.socialLinks.website %}
                  <a href="{{ trainer.socialLinks.website }}" target="_blank">Website</a>
                {% endif %}

                {% if trainer.socialLinks.blog %}
                  <a href="{{ trainer.socialLinks.blog }}" target="_blank">Blog</a>
                {% endif %}

                {% if trainer.socialLinks.twitter %}
                  <a href="{{ trainer.socialLinks.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
                {% endif %}
                {% if trainer.socialLinks.facebook %}
                  <a href="{{ trainer.socialLinks.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
                {% endif %}

                {% if trainer.socialLinks.linkedIn %}
                  <a href="{{ trainer.socialLinks.linkedIn }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                {% endif %}
              </div>

              <a
                class="btn btn-primary wsb-form__btn wsb-contact-button"
                href="mailto:{{ trainer.email }}"
                title="{{ _t('trainer.email') }}"
              >
                {{ _t('trainer.email') }}
              </a>
            </div>
          </div>
        </div>

        <div class="wsb-trainer__header-row">
          <div class="wsb-trainer-details-facts">
            {% if trainer.stats.total.publicStats.evaluations > 0 %}
              <div class="wsb-trainer-details-fact">
                <div>
                  <span class="wsb-descr">{{ _t('trainer.experience.rating.public') }}</span>

                  <span class="wsb-descr__sub">
                    {{ _t('trainer.experience.rating.basedOn', { count: trainer.stats.total.publicStats.evaluations }) | safe }}
                  </span>
                </div>

                <div>
                  <span class="wsb-big-number">
                    {{ _f(trainer.stats.total.publicStats.rating) }}
                  </span>

                  <i class="fas fa-star"></i>
                </div>
              </div>
            {% endif %}

            {% if trainer.stats.total.privateStats.evaluations > 0 %}
              <div class="wsb-trainer-details-fact">
                <div>
                  <span class="wsb-descr">{{ _t('trainer.experience.rating.private') }}</span>

                  <span class="wsb-descr__sub">
                    {{ _t('trainer.experience.rating.basedOn', { count: trainer.stats.total.privateStats.evaluations }) | safe }}
                  </span>
                </div>

                <div>
                  <span class="wsb-big-number">
                    {{ _f(trainer.stats.total.privateStats.rating) }}
                  </span>

                  <i class="fas fa-star"></i>
                </div>
              </div>
            {% endif %}

            {% if trainer.stats.total.total %}
              <div class="wsb-trainer-details-fact">
                <span class="wsb-descr">{{ _t('trainer.experience.events') }}</span>
                <span class="wsb-big-number">{{ trainer.stats.total.total }}</span>
              </div>
            {% endif %}

            {% if trainer.stats.yearsOfExperience %}
              <div class="wsb-trainer-details-fact">
                <span class="wsb-descr">{{ _t('trainer.experience.years') }}</span>
                <span class="wsb-big-number">{{ trainer.stats.yearsOfExperience }}</span>
              </div>
            {% endif %}
          </div>

          <div class="wsb-trainer-badges">
            <div>
              {% for badge in trainer.badges %}
                {% if loop.index <= 3 %}
                  <img alt="{{ badge.name }}" class="wsb-trainer__badge" src="{{ badge.url }}">
                {% endif %}
              {% endfor %}
            </div>

            {% if trainer.badges.length > 3 %}
              <span class="wsb-trainer-more">3+</span>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="wsb-description">
        <div class="wsb-desc">{{ trainer.bio | safe }}</div>

        {% if trainer.testimonials.length > 0 %}
          <h3 class="wsb-testimonial-heading">{{ _t('trainer.feedback') }}</h3>

          <div>
            {% for testimonial in trainer.testimonials %}
              <div class="wsb-testimonial">
                <span class="wsb-cite">
                  <strong>{{ testimonial.attendee }}</strong>

                  {% if testimonial.company %}
                    , {{ testimonial.company }}
                  {% endif %}
                </span>

                {% if testimonial.rating %}
                  <div class="wsb-rating">
                    {% set rating = testimonial.rating %}
                    {% set stars = range(5) %}

                    {% for item in stars %}
                      {% set index = item + 1 %}

                      {% if index * 2 <= rating %}
                        <i class="fas fa-star"></i>
                      {% elif index * 2 > rating + 1 %}
                        <i class="far fa-star"></i>
                      {% else %}
                        <div class="fa-stack">
                          <i class="fas fa-star-half fa-stack-1x"></i>
                          <i class="far fa-star-half fa-stack-1x fa-flip-horizontal"></i>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}

                <p class="wsb-testimonial-text">{{ testimonial.content }}</p>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="wsb-toolbar wsb-first">
        {% if config.showFutureEvents or config.showPastEvents %}
          <div class="wsb-trainer-events">
            {% if config.showFutureEvents %}
              <div class="wsb-events" id="upcoming-events">
                <div class="wsb-events__title">
                  {{ _t('sidebar.future') }}:
                </div>

                <div data-events-list></div>
              </div>
            {% endif %}

            {% if config.showPastEvents %}
              <div class="wsb-events" id="past-events">
                <div class="wsb-events__title">
                  {{ _t('sidebar.past') }}:
                </div>

                <div data-events-list></div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
