<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="360">

  <meta name="viewport" content="width=device-width,minimum-scale=1">

  <script src="https://polyfill.io/v3/polyfill.min.js?features=Number.isNaN%2CString.prototype.startsWith%2CString.prototype.repeat%2CIntl"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/styles.css">
  <script>
    const siteConfig = {
      apiKey: '{{ siteConfig.apiKey }}',
      theme: '{{ siteConfig.apiKey.theme }}'
    };
  </script>
</head>
<body>
  <main style="max-width: 1280px; margin: 0 auto;">
    {{ content | safe }}
  </main>


  <script src="https://code.jquery.com/jquery-2.1.4.min.js"
    integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
    crossorigin="anonymous"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
  <script src="/widgets.js"></script>
</body>
</html>
