{% from "./attendee.njk" import render_attendee %}
{% if attendees.length > 0 %}
  <div class="">
    {% for attendee in attendees %}
      <div class="wsb-attendee">
        {% if template %}
          {{ template(attendee, config, _t, _f) | safe }}
        {% else %}
          {{ render_attendee(attendee, config, _t, _f) }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% from '../common/pagination' import pagination %}
  {{ pagination(paginator) }}
{% else %}
  <div class="wsb-empty-list">{{ _t('attendees.empty')}}</div>
{% endif %}
