{% macro optional(value) %}{{ [",", value] | join(" ") if value }}{% endmacro %}
{% if attendees.length > 0 %}
  <div class="">
    {% for attendee in attendees %}
      <div class="wsb-attendee">
        <span class="wsb-cite">
            <strong>{{ attendee.fullName() }}</strong>{% if attendee.countryCode %},
              {{ _f(attendee.countryCode, 'country') }}{% endif %}{{ optional(attendee.city) }}{{ optional(attendee.company) }}
        </span>
        {% if attendee.event %}
          {% if attendee.event.type %}
            <p>
              <strong>{{ attendee.event.type.name }}</strong>
            </p>
          {% endif %}
          <p>
            Participated in {{ attendee.event.title }} on {{ _f(attendee.event.schedule, 'full_short') }}
          </p>
        {% endif %}
        {% if attendee.certificate %}
          <p>
            Certificate: #{{ attendee.certificate }}
          </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% from '../common/pagination' import pagination %}
  {{ pagination(paginator) }}
{% else %}
  <div class="wsb-empty-list">No attendees found</div>
{% endif %}
