{% from "../common/flag.njk" import flag %}

{% macro drawTrainer(trainer, config, _t, _f) %}
  <div
    class="wsb-trainer-tile" data-trainer-obj
    data-trainer-location="{{ trainer.worksIn.join(',') }}"
    data-trainer-rating="{{ trainer.stats.total.publicStats.rating }}"
    data-trainer-badge="{{ trainer.nameOfBadges().join(',') }}"
    data-trainer-language="{{ trainer.languages.join(',') }}"
    data-trainer-trainer="{{ trainer.fullName() }}"
  >

    <a href="{{ trainer.url }}">
      <div class="wsb-trainer-tile__img" style="background-image: url('{{ trainer.getPhotoOrDefault() }}');"></div>
    </a>

    {% if config.showRating and trainer.stats.total.publicStats.rating > 0 %}
      <div class="wsb-trainer-tile__rating">
        {{ _f(trainer.stats.total.publicStats.rating) }}
        <i class="fas fa-star"></i>
      </div>
    {% endif %}

    <div class="wsb-trainer-tile__info">
      <a href="{{ trainer.url }}">
        <div>{{ trainer.fullName() }}</div>
      </a>

      {% if trainer.country %}
        <div class="wsb-trainer-tile__country">
          {{ flag(trainer.country) }}
          <span>{{ _t('country.' + trainer.country) }}</span>
        </div>
      {% endif %}

      {% if config.showBadges %}
        <div class="wsb-trainer-tile__badges">
        {% for badge in trainer.badges %}
          <img src="{{ badge.url }}" width="30px"/>
        {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}
