{% macro drawTrainers(trainers, tmpl, _t, _f) %}
    {% from "./item.njk" import drawTrainer %}
    <div class="wsb-trainer-list">
        <div class="wsb-tiles" data-trainer-list>
            {% for trainer in trainers %}
                {% if tmpl %}
                    {{ tmpl(trainer, _t, _f) | safe }}
                {% else %}
                    {{ drawTrainer(trainer, _t, _f) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="wsb-no-trainers" data-empty-list>
            {{ _t('trainers.noTrainers') }}
        </div>
    </div>
{% endmacro %}
