{% macro testimonialsSlider(testimonials) %}
  {% if testimonials.length > 0 %}
    <div class="owl-carousel">
      {% for testimonial in testimonials %}
        <div class="wsb-testimonials-slide">
          <div class="wsb-testimonials-stars">
            {% set rating = testimonial.rating %}
            {% set stars = range(5) %}

            {% for item in stars %}
              {% set index = item + 1 %}

              {% if index * 2 <= rating %}
                <i class="fas fa-star"></i>
              {% elif index * 2 > rating + 1 %}
                <i class="far fa-star"></i>
              {% else %}
                <div class="fa-stack">
                  <i class="fas fa-star-half fa-stack-1x"></i>
                  <i class="far fa-star-half fa-stack-1x fa-flip-horizontal"></i>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <div class="wsb-testimonials-desc">
            {{ testimonial.content }}
          </div>

          <div class="wsb-testimonials-author"></div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
