{% macro testimonialsSlider() %}
  <div class="wsb-testimonials-slider">
    <div class="wsb-testimonials-stars">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>

    <div class="wsb-testimonials-desc">
      The Work Together Anywhere workshop has helped us immeasurably in building a successful & happy new distributed team. I talked the team through all of my notes from the workshops and having a shared model for things we need to care about has enabled us to get solid foundations in place quickly. We've already benefited hugely from many of the tips and tricks learned from the workshop.

      <button class="wsb-testimonials-prev"></button>
      <button class="wsb-testimonials-next"></button>
    </div>

    <div class="wsb-testimonials-author">

    </div>
  </div>
{% endmacro %}
