@alfred: #4A90E2;
@default-color: #333;

.alfred .wsb-content {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: @default-color;

  a {
    color: @alfred;
  }

  .wsb-verified {
    background-color: @alfred;
  }

  .wsb-tickets .wsb-ticket {
      border-radius: 6px;
  }

  .wsb-event-page .wsb-profile {
    border-radius: 6px;
    overflow: hidden;
  }

  .wsb-registration-page .wsb-profile__img {
    border-radius: 10px;
  }

  .wsb-registration-page .wsb-profile__country {
    display: none;
  }

  .wsb-register__btn,
  .wsb-form__btn {
    background-color: @alfred;
    border-radius: 4px;
    font-weight: 400;
  }

  .wsb-form__radio.wsb-active  {
      background-color: rgba(74, 144, 226, 0.11);
      border-radius: 4px;
  }

  input,
  select,
  textarea,
  .wsb-form__card,
  .wsb-tile,
  .wsb-tag,
  .wsb-free {
    border-radius: 4px;
  }

  .wsb-flag {
    border-radius: 2px;
  }

  .wsb-tile-title {
    color: @alfred;
  }

  .wsb-trainer-tile__rating {
    border-radius: 4px;
  }

  .wsb-trainer-tile {
    border-radius: 6px;
  }

  .wsb-trainer {
    color: @default-color;
    .wsb-photo {
      border-radius: 6px;
    }
  }

  .wsb-workshop .wsb-tag, .wsb-workshop .wsb-free {
    border-radius: 0px;
  }

  .wsb-tile-info, .wsb-date-place {
    color: @text-grey;
  }

  .wsb-table-container {
    border-radius: 6px;
    border: 1px solid #ddd;
  }

  .wsb-table__first-free,
  .wsb-table__free {
    color: #98a552;
  }

  .wsb-table__row + .wsb-table__row {
    border-top: 1px solid #ddd;
  }

  .wsb-table__btn {
    color: #fff !important;
    background-color: @alfred;
    border-radius: 4px;
  }

  .wsb-trainer-profile .trainer-profile-header img {
    border-radius: 6px;
  }

  .wsb-trainer-details-facts .wsb-trainer-details-fact {
    border-radius: 5px;
  }

  .wsb-profile__rating {
    border-radius: 4px;
  }

  .wsb-sharing__icon {
    color: transparent;
    width: 2em;

    &:before {
      font-size: 24px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &.wsb-promo {
    color: white;

    .wsb-promo-bg {
      background: radial-gradient(100% 388.81% at 0% 100%, #4A90E2 0%, #66CAF4 100%), linear-gradient(90deg, #4A90E2 39.73%, rgba(74, 144, 226, 0.29) 115.57%);
    }

    .wsb-promo-bg.wsb-promo-image {
      background: linear-gradient(90deg, #4A90E2 39.73%, rgba(74, 144, 226, 0.29) 115.57%);
    }
  }

  .wsb-testimonial {
    border-radius: 6px;
  }

  .wsb-promo-button {
    color: @alfred;
    border-radius: 4px;
  }
}
