@britton: #7796a8;

.britton .wsb-content {
  font-family: 'Droid Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #3d4246;

  a {
    color: @britton;
  }

  .wsb-btn-primary {
    color: #fff;
    background-color: #7796a8;
    border-color: #668394;
    border-radius: 2px;

    &:hover {
      opacity: .8;
    }

    &.active,
    &:active {
      opacity: 1;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      opacity: .7 !important;
      cursor: default;
      color: @britton;
    }
  }

  // tiles
  .wsb-tile {
    background-color: #f6f6f6;
  }

  .wsb-tile-title {
    color: @britton;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
  }

  .wsb-free {
    background-color: #859529;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  .wsb-tile-info {
    overflow: hidden;
    color: #788188;
  }

  .wsb-tile-content {
    color: #3d4246;
  }

  .wsb-tile-button {
    padding: 0 23px;
    bottom: 0;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }

  .wsb-tile-btn {
    position: static;
    height: 3em;
    font-weight: 400;
    font-size: 1em;
  }

  // table
  .wsb-table__head {
    color: #788188;
    border-color: #e8e9eb;
  }

  .wsb-table__row {
    border-color: #e8e9eb;

    &:nth-child(2n + 1) {
      background-color: #f6f6f6;
    }
  }

  .wsb-table__btn {
    background: #7796a8;
    border: 1px solid #668394;
    color: #fff !important;
  }

  .wsb-table__first-free,
  .wsb-table__free {
    font-weight: bold;
    color: #859529;
    -webkit-font-smoothing: antialiased;
  }

  // page
  .wsb-title,
  .wsb-profile__name h3,
  .wsb-form__title,
  .wsb-form__label,
  .wsb-events__title,
  .wsb-trainer__name h3 {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  .wsb-header {
      padding-top: 5em;
      padding-bottom: 1em;
      background-color: @background-grey;
  }

  .wsb-form__input {
    font-family: "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  }

  .wsb-sidebar__register,
  .wsb-form__btn {
    background-color: @britton;
    border: 1px solid #668393 !important;
  }

  .wsb-ticket {
    &.state-closed {
      background-color: transparent;
    }

    padding: 11px 9px;
    background-color: @background-grey;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    margin: 0 0 10px;
  }

  .wsb-ticket__val {
    color: #333;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  .wsb-ticket__name {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  &.wsb-footer {
    background-color: #F6F6F6;
  }

  .wsb-ticket__footer {
    text-transform: uppercase;
  }

  // sharing
  .wsb-sharing__icon {
    width: 48.9%;
    margin-left: 0;
    margin-bottom: 6px;
    border: 1px solid #E8E8E8;
    background-color: #F6F6F6;
    color: @britton !important;
    padding: 0.2em 0 0.5em 2em;
    border-radius: 2px;
    .transition(all .15s ease);

    .icon {
      position: absolute;
      left: 0.6em;
      top: 4px;
    }

    &:hover {
      border-color: #CCC;
    }
  }

}
