.hayes .wsb-content {
  @hayes: #32866c;
  @additionalFont: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;
  @mainFont: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;

  font-family: @mainFont;
  color: #333;

  a {
    color: @hayes;

    &:hover {
      color: @hayes !important;
      border-color: @hayes;
    }
  }

  .wsb-btn-primary {
    color: #343434 !important;
    background: none;
    font-family: @additionalFont;
    font-weight: 400;
    text-transform: uppercase;
    border: 2px solid #343434;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;

    &:hover {
      opacity: .8;
    }

    &.active,
    &:active {
      opacity: 1;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      opacity: .7 !important;
      cursor: default;
    }
  }

  // tiles
  .wsb-tile-title,
  .wsb-free,
  .wsb-tag {
    font-family: @additionalFont;
  }

  .wsb-tile {
    background-color: #f9f9f9;
  }

  .wsb-tile-title {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    color: @hayes;
    overflow: hidden;
  }

  .wsb-tile-info {
    margin-bottom: 12px;
    color: #7a7a7a;
  }

  .wsb-free {
    background-color: #7a7a7a;
  }

  .wsb-tile-content {
    color: #1d1d1d;
    max-height: 160px;
  }

  .wsb-tile-button {
    background-color: #f9f9f9;
    padding: 0 23px;
    bottom: 0;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;

  }

  .wsb-tile-btn {
    position: static;
    width: 100%;
    height: 3em;
    font-weight: bold;
    font-size: 1em;
  }

  // table
  .wsb-table__head,
  .wsb-table__btn,
  .wsb-table__first-free,
  .wsb-table__free {
    font-family: @additionalFont;
  }

  .wsb-table__head {
    text-transform: uppercase;
    font-weight: 400;
    color: #7a7a7a;
    border-color: rgba(53, 53, 53, .1);

  }

  .wsb-table__row {
    border-color: rgba(53, 53, 53, .1);
  }

  .wsb-table__btn {
    background: none;
    border: 2px solid #101010;
    color: #101010 !important;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    border-radius: 0;
    text-transform: uppercase;
    line-height: 26px;
  }

  .wsb-table__first-free,
  .wsb-table__free {
    font-weight: bold;
    color: #7a7a7a;
    -webkit-font-smoothing: antialiased;
  }

  //page
  .wsb-title,
  .wsb-ticket__val,
  .wsb-header h1,
  .wsb-ticket__name,
  .wsb-profile__name h3,
  .wsb-form__title,
  .wsb-form__label,
  .wsb-sidebar__register,
  .wsb-form__btn,
  .wsb-trainer-name,
  .wsb-descr,
  .wsb-events__title {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    font-family: @additionalFont;
  }

  .wsb-header {
    padding-top: 5em;
    padding-bottom: 1em;
    border-bottom: 0.2em solid @background-grey;
  }

  .wsb-title {
    margin-bottom: 6px;
  }

  .wsb-body {
    position: relative;
    padding-top: 24px;
  }

  .wsb-desc {
    font-family: @additionalFont;

    p {
      margin-bottom: 8px;
    }
  }

  .wsb-big-number {
    font-family: @additionalFont;
    color: @hayes;
    font-weight: 400;
  }

  .wsb-tickets {
    margin-bottom: 20px;
    background-color: #FFF;

    .wsb-ticket {
      padding: 11px 9px;
      background-color: @background-grey;
      border: 1px solid #e8e8e8;
      border-radius: 2px;
      margin: 0 0 10px;
      text-align: left;

      &.state-closed {
        background-color: transparent;
      }
    }
  }

  .wsb-ticket {
    border: 2px solid #F9F9F9;
    background-color: #F9F9F9;

    &.state-closed {
      background-color: #FFF;

      .wsb-ticket__val,
      .wsb-ticket__name {
        color: #7A7A7A;
      }
    }
  }

  .wsb-ticket__val {
    color: #32866C;
    margin-bottom: 3px;
  }

  .wsb-ticket__name {
    color: #343434;
  }

  .wsb-ticket__desc {
    color: #7A7A7A;
  }

  .wsb-ticket__footer {
    text-transform: uppercase;
  }

  .wsb-sharing {
    margin-bottom: 42px;

    a {
      border-radius: 0;
    }
  }

  .wsb-events {
    color: #7A7A7A;
  }
  .wsb-events__title {
    color: @text-grey;
  }

  .wsb-form__input {
    font-family: @mainFont;
  }

  .wsb-sidebar__register {
    margin-bottom: 21px;
  }

  .wsb-sidebar__register,
  .wsb-form__btn {
    background: none;
    border: 2px solid #333 !important;
    text-transform: uppercase;
    padding: 16px 0;
    color: #333 !important;
  }

  &.wsb-footer {
    background-color: transparent;
    padding-top: 0;

    .wsb-center {
      position: relative;
      padding-top: 34px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 20px;
        left: 20px;
        height: 2px;
        background-color: #E7E7E7;
      }
    }
  }
  .wsb-sharing__icon {
    color: transparent;
  }

}
