{% from "./field.njk" import formField %}
{% from "./payment.njk" import payment %}
{% macro paymentSection(section, disabled, config, _t, _f) %}
  <section class="wsb-payment-section" data-payment-section>
    {% for field in section.fields %}
      {% if field.name === "payment_type" %}
        {{ payment(field, disabled, config, _t, _f) }}
      {% else %}
        {{ formField(field, disabled, [], config, _t, _f) }}
      {% endif %}
    {% endfor %}
    <div class="wsb-form__field wsb-form__payment" data-card-section style="display:none;">
      <label class="wsb-label"></label>
      <div class="wsb-form__payment-holder">
        <div class="form-control wsb-form__card">
          <div id="stripe-placeholder"></div>
        </div>
        <div id="register-form-error" class="wsb-form__error"></div>
      </div>
    </div>
  </section>
{% endmacro %}
