{% macro ticket(field, disabled, config, _t, _f) %}

<div class="wsb-form__tickets" id="wsb-tickets">
  {% for ticket in field.tickets.types %}
    {% if ticket.active() %}
      <div class="wsb-form__radio">
        {% set price = _f(ticket.price) %}
        <input
          id="{{ ticket.id }}"
          name="{{ field.name }}"
          title="{{ field.label }}" type="radio"
          data-control required value="{{ ticket.id }}" {{ 'disabled' if disabled }}
          {{ 'checked' if not next_loop }}
          data-amount="{{ ticket.price.amount }}"
          data-tax="{{ ticket.price.tax }}"
          data-currency="{{ ticket.price.currency }}"
        />

        <label for="{{ ticket.id }}" class="wsb-label">
          <strong>{{ price }}</strong>
          {{ ticket.name }}
          {% if field.tickets.excludedTax and ticket.price.tax > 0 %}
          <span class="wsb-ticket__tax">
            + {{ _f(ticket.price.withAmount(ticket.price.tax)) }} VAT
          </span>
          {% endif %}
        </label>
      </div>
      {% set next_loop = true %}
    {% endif %}
  {% endfor %}

  <div class="wsb-form__tax" data-tax-description>
    {% if field.tickets.excludedTax %}
      {{ _t("tax.excluded_all") }}{% if field.tickets.tax %} {{ field.tickets.tax }}%{% endif %}
      {% if field.tickets.validateTax %}<a data-vat-apply-link>Enter VAT ID</a>{% endif %}
    {% else %}
      {{ _t("tax.included_all") }}
    {% endif %}
  </div>
</div>

{% endmacro %}
