<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Test page for widget</title>

  <script
    src="https://code.jquery.com/jquery-2.1.4.min.js"
    integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
    crossorigin="anonymous"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700"
        rel="stylesheet">
</head>
<body>
<h1>Event Details</h1>
<div id="wsb-event-details"></div>

<script>
  const apiKey = '<%= htmlWebpackPlugin.options.config.apiKey %>';
  const themeName = '<%= htmlWebpackPlugin.options.config.theme %>';
  document.addEventListener('wsbwidgetsloaded', function() {
    const widgets = [
      {
        type: 'EventPage',
        target: '#wsb-event-details',
        theme: themeName,
        trainers: true,
        trainerPageUrl: '/trainer-page.html',
        registrationPageUrl: '/registration.html',
        expiredTickets: false,
        numberOfTickets: false,
        widgets: [
          {
            type: 'SidebarEventList',
            show: true,
            theme: themeName,
            target: '#upcoming-events',
            eventPageUrl: '/event-page.html',
            future: true,
            length: 3,
            excludeId: WorkshopButlerWidgets.getQueryParam('id')
          }
        ],
      }
    ];
    const config = {
      apiKey: apiKey,
      locale: 'en'
    };

    WorkshopButlerWidgets.launch(config, widgets);
  });

</script>

</body>
</html>
