<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Test page for widget</title>

  <script
      src="https://code.jquery.com/jquery-2.1.4.min.js"
      integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="
      crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

</head>

<body>
<h1>Event List</h1>
<div id="wsb-event-list"></div>

<script>
    const apiKey = '<%= htmlWebpackPlugin.options.config.apiKey %>';
    const themeName = '<%= htmlWebpackPlugin.options.config.theme %>';
    document.addEventListener('wsbwidgetsloaded', function() {
        const widgets = [
            {
                type: 'Schedule',
                target: '#wsb-event-list',
                theme: themeName,
                table: false,
                registration: true,
                eventPageUrl: '/event-page.html',
                filters: ['location', 'type', 'language', 'trainer'],
                registrationPageUrl: '/registration.html',
                fields: ['description']
            }
        ];
        const config = {
          apiKey: apiKey,
          locale: 'en-us'
        };

        WorkshopButlerWidgets.launch(config, widgets);
    });
</script>

</body>
</html>
