{% macro freeTicket(ticket, _t, _f) %}
    <div class="wsb-ticket">
        <div class="wsb-ticket__val">
            {{ _t('event.ticket.free') }}
        </div>
        <div class="wsb-ticket__footer">
            {{ _f(ticket, 'state') }}
        </div>
    </div>
{% endmacro %}
