{% macro list(events, withImage, tmpl, config, _t, _f) %}
    {% from "./tile.njk" import drawEvent %}
    <div class="wsb-schedule">
        <div class="wsb-tiles" data-event-list>
            {% for event in events %}
                {% if tmpl %}
                    {{ tmpl(event, withImage, config, _t, _f) | safe }}
                {% else %}
                    {{ drawEvent(event, withImage, config, _t, _f) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="wsb-no-events" data-empty-list>
            {{ _t('schedule.noEvents') }}
        </div>
    </div>
{% endmacro %}
