{% macro registerButton(event, config, _t, _f) %}
  <div class="wsb-register__btn-wrapper">
    {% if event.state.closed() %}
      <button class="wsb-register__btn" disabled>{{ _f(event.state) }}</button>
    {% else %}
      <a href="{{ event.registrationPage.url }}" target="_blank"
         class="wsb-register__btn">{{ _t('event.register') }}</a>
    {% endif %}
  </div>
{% endmacro %}
