{% macro drawRow(event, config, _t, _f) %}
<div class="wsb-table__row" data-event-obj data-event-type="{{ event.type.id }}"
     data-event-location="{{ event.location.countryCode }}"
     data-event-language="{{ event.language.spoken | join(',') }}"
     data-event-trainer="{{ event.nameOfTrainers() | join(',') }}">
  {% from "./row/schedule.njk" import renderSchedule %}
  {% from "./row/location.njk" import renderLocation %}
  {% from "./row/trainers.njk" import renderTrainers %}
  {% from "./row/title.njk" import renderTitle %}
  {% from "./row/register.njk" import renderRegisterButton %}
  {% for col in config.cols %}
    {% if col === 'schedule' %}
      {{ renderSchedule(event, config, _t, _f) }}
    {% elif col === 'location' %}
      {{ renderLocation(event, config, _t, _f) }}
    {% elif col === 'trainers' %}
      {{ renderTrainers(event, config, _t, _f) }}
    {% elif col === 'title' %}
      {{ renderTitle(event, config, _t, _f) }}
    {% else %}
      {{ renderRegisterButton(event, config, _t, _f) }}
    {% endif %}
  {% endfor %}
</div>
{% endmacro %}
