{% macro table(events, tmpl, config, _t, _f) %}
  {% from "./row.njk" import drawRow %}
  <div class="wsb-schedule wsb-table-container">
    <div class="wsb-table" data-event-list>
      {% for event in events %}
        {% if tmpl %}
          {{ tmpl(event, config, _t, _f) | safe }}
        {% else %}
          {{ drawRow(event, config, _t, _f) }}
        {% endif %}
      {% endfor %}
    </div>

    {# No events #}
    <div class="wsb-no-events" data-empty-list>
      {{ _t('schedule.noEvents') }}
    </div>
  </div>
{% endmacro %}
