---
layout: layouts/base.njk
title: Title Strings
---
<div class="wsb-content">
    <h1>This is it!</h1>

    {% for w in collections.widget %}
        <div>
        <a href="{{ w.url | url }}" target="_blank">{{ w.data.title }}</a>
        </div>
    {% endfor %}
</div>
