.wsb-content {
  .wsb-tag,
  .wsb-free {
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0.25em 0.5em;
    width: fit-content;
    color: white;
    background-color: @yellow;
    font-weight: bold;
  }

  .wsb-tag.wsb-sold-out {
    background-color: @text-black;
  }

  .wsb-free {
    background-color: #909D44;
  }

  .wsb-mobile {
    display: none;
  }

  .wsb-featured {
    background-color: #FEF8EC !important;
  }

  .wsb-flag {
    width: 20px;
    height: 15px;
    background-size: cover;
    margin-right: 4px;

    &.flag-icon-00 {
      background: url(../images/icon-globus.svg) no-repeat;
      border-radius: 0;
      background-position-y: 1px;
      width: 15px;
    }
  }
}
