.wsb-content {
  .wsb-filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 5px;

  }

  .wsb-filters-left, .wsb-filters-right {
    display: flex;
    flex-wrap: wrap;
  }

  .wsb-filters-left {
    justify-content: flex-start;
  }

  .wsb-filters-right {
    justify-content: flex-end;
  }

  .wsb-filter {
    flex-basis:  calc(25% - 5px);
    flex-shrink: 0;
    flex-grow: 1;
    margin-bottom: 5px;
    margin-left: 5px;
    min-width: 150px;

    @media(max-width: 830px) {
      flex-basis: calc(50% - 5px);
    }

    @media(max-width: 560px) {
      flex-basis: calc(100% - 10px);
    }
  }

  .wsb-filters-left, .wsb-filters-right {
    .wsb-filter {
      margin-right: 1em;

    }
  }

  .wsb-search {
    position: relative;

    input {
      padding-left: 2em;
    }
  }
  .wsb-search-glass {
    position: absolute;
    top: 0.3em;
    left: 0.5em;
  }
}
