
.wsb-content {

  .wsb-table__head {
    padding-bottom: 13px;
    border-bottom: 1px solid;
    .clearfix();
    display: flex;
  }

  .wsb-table__row {
    .clearfix();
    padding: 1em 0;
    border-bottom: 1px solid;
    display: flex;
  }

  .wsb-table__col {
    margin-right: 3%;
    text-align: left;

    &.with-badge {
      position: relative;
      padding-left: 2.5em;
    }

    &.wsb-table__col-schedule {
      flex: 1 1 15%;
    }

    &.wsb-table__col-location {
      flex: 1 1 14%;
    }

    &.wsb-table__col-title {
      flex: 1 1 38%;
    }

    &.wsb-table__col-trainers {
      flex: 1 1 20%;

      &.without-name {
        flex: 1 1 10%;

        @media @phone {
          flex: 0 0 100%;
        }
      }

    }

    &.wsb-table__col-register {
      flex: 1 1 24%;
      text-align: right;
      margin-right: 0;

      @media @phone {
        display: none;
      }
    }

    .wsb-trainer {
      margin: 0 0.4em 0 0;
      display: inline-flex;
      align-items: center;

      a {
        margin-right: 0.4em;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .wsb-name {
      margin-top: 0.4em;
    }

    .wsb-photo {
      display: block;
      float: left;
      height: 2em;
      width: 2em;
      min-width: 2em;
      border-radius: 0.5em;
      margin-top: 0.2em;
    }

  }

  .wsb-featured .wsb-table__link {
    font-weight: bold;
  }

  .wsb-table__img {
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 1em;
    width: 2em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .wsb-table__btn {
    position: relative;
    top: -3px;
    display: inline-block;
    height: 2em;
    line-height: 28px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    max-width: 160px;
    text-decoration: none !important;
    .transition(all .15s ease);

    &:disabled {
      opacity: .5;

      &:hover {
        opacity: .5;
      }
    }

    &:hover {
      opacity: .9;
    }
  }

  @media @phone {
    .wsb-table__head {
      display: none;
    }

    .wsb-table__row {
      flex-wrap: wrap;
      padding: 12px 6px 12px 0;

      .wsb-free,
      .wsb-tag {
        display: none;
      }
      .wsb-mobile {
        display: inline-table;
        margin-bottom: 5px;
      }
    }
    .wsb-table__col {
      &.wsb-table__col-schedule,
      &.wsb-table__col-location,
      &.wsb-table__col-register,
      &.wsb-table__col-trainers,
      &.wsb-table__col-title {
        flex: 0 0 100%;
        margin-left: 6px;
      }
    }
  }
}
