.wsb-content {
  .wsb-table-container {
    overflow: hidden;
    margin: 1em 5px 0 5px;
  }

  .wsb-table {
    display: table;
    width: 100%;
    border-collapse: collapse;

    @media (max-width: 600px) {
      display: block;
    }
  }

  .wsb-table__row {
    display: table-row;

    @media (max-width: 600px) {
      display: flex;
      flex-wrap: wrap;
      padding: 7px 7px 15px;
    }
  }

  .wsb-table__col {
    text-align: left;
    padding: 16px 10px;
    vertical-align: top;
    display: table-cell;

    @media (max-width: 800px) {
      width: auto;
      padding: 16px 6px;
    }

    @media (max-width: 600px) {
      padding: 7px 0 0 0;
      width: 100%;
    }

    &.with-badge {
      position: relative;
      padding-left: 2.5em;
    }

    &.wsb-table__col-tag {
      display: none;

      .wsb-tag {
        padding-left: 7px;
        padding-right: 7px;
      }
    }

    &.wsb-table__col-schedule {
      @media (max-width: 600px) {
        width: fit-content;
        padding-right: 7px;
        position: relative;

        &:after {
          content: '•';
          display: inline-block;
        }
      }
    }

    &.wsb-table__col-location {
      @media (max-width: 600px) {
        width: fit-content;
        padding-right: 7px;
        position: relative;

        &:after {
          content: '•';
          display: inline-block;
        }
      }
    }

    &.wsb-table__col-language {
      @media (max-width: 600px) {
        width: fit-content;
        padding-left: 0;
      }
    }

    &.wsb-table__col-title {
      order: 1;

      .wsb-tag {
        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    &.wsb-table__col-trainers {
      display: flex;
      flex-direction: column;
      order: 2;
      @media (max-width: 600px) {
        padding-top: 16px;
      }
    }

    &.wsb-table__col-register {
      text-align: right;
      margin-right: 0;

      @media (max-width: 600px) {
        display: none;
      }
    }

    .wsb-trainer {
      margin: 0 0.4em 0 0;

      + .wsb-trainer {
        margin-top: 12px;
      }

      a {
        margin-right: 0.4em;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .wsb-name {
      margin-top: 0.4em;
    }

    .wsb-photo {
      display: block;
      float: left;
      margin-right: 10px;
      margin-top: -4px;
      height: 2em;
      width: 2em;
      object-fit: cover;
    }
  }

  .wsb-featured .wsb-table__link {
    font-weight: bold;
  }

  .wsb-table__img {
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 1em;
    width: 2em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .wsb-table__btn {
    display: inline-block;
    margin-top: -0.5em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 160px;
    text-decoration: none !important;
    .transition(all .15s ease);

    @media (max-width: 800px) {
      width: auto;
      padding: 0 10px;
    }

    @media (max-width: 600px) {
      width: 160px;
    }

    &:disabled {
      opacity: .5;
      border: 0;

      &:hover {
        opacity: .5;
      }
    }

    &:hover {
      opacity: .9;
    }
  }
}
