.wsb-content {
  .wsb-tiles {
    .clearfix();
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1em;
  }

  .wsb-empty-list {
    margin-bottom: 2em;
  }

  .wsb-no-events {
    display: none;
  }

  .wsb-tile {
    flex: 0 0 17em;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 30px 26px 0;
    text-align: left;
    margin-bottom: 24px;
    margin-right: 12px;

    @media (min-width: 601px) {
      &:hover .wsb-tile-button {
        .transform(translate(0, -70px));

        &:before {
          display: block;
        }
      }
    }

    @media (max-width: 600px) {
      flex-basis: 100%;
    }
  }

  .wsb-tile-title {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: none !important;
    margin-bottom: 0.6em;
    .transition(all .15s ease);

    &:hover {
      opacity: .85;
    }
  }

  .wsb-tile .wsb-tag,
  .wsb-tile .wsb-free {
    position: absolute;
    right: 0;
    top: 0;
  }

  .date-place {
    > * {
      @media (max-width: 600px) {
        display: inline-block;
      }
    }

    .dot {
      display: none;

      @media (max-width: 600px) {
        display: inline-block;
      }
    }
  }

  .wsb-tile-content {
    margin-top: 1.5em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 600px) {
      margin-left: -1em;
      margin-right: -1em;
      margin-top: 0;
    }

    .wsb-trainer {
      margin: 0;
      display: flex;
      min-width: 12em;

      @media (max-width: 600px) {
        padding: 0 1em;
        margin-top: 1em;
        min-width: 15em;
      }

      + .wsb-trainer {
        margin-top: 1em;
      }

      a {
        margin-right: 0.4em;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .wsb-name {
      margin-top: 0.4em;
    }

    .wsb-photo {
      display: block;
      margin-right: 13px;
      width: 2em;
      height: 2em;
      border-radius: 10px;
      flex-shrink: 0;
    }
  }

  .wsb-tile-button {
    height: 70px;
    bottom: -70px;
    position: absolute;
    right: 0;
    left: 0;
    .transition(all .15s ease);

    @media (max-width: 600px) {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      height: 50px;
      right: 0;
      left: 0;
      top: -50px;
      .transition(all .15s ease);
    }
  }

  .wsb-tile-btn {
    padding: 0;
    height: 70px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    font-size: 1.5em;
    line-height: 3em;
    font-weight: bold;
    border-radius: 0;
    width: 100%;
  }
}
