
.wsb-content {

  .wsb-tiles {
    .clearfix();
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .wsb-no-events {
    display: none;
    margin-bottom: 30px;
  }

  .wsb-tile {
    flex: 0 0 23em;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    min-height: 17em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 21px 26px 0;
    text-align: left;
    margin-bottom: 30px;
    margin-right: 12px;

    @media @desktop, @desktop-small {
      &:hover .wsb-tile-button {
        .transform(translate(0, -70px));

        &:before {
          opacity: 1;
        }
      }
    }

    @media @tablet {
      flex: 0 1 48%;
      min-height: 18em;
      margin-right: 2% !important;
      margin-bottom: 20px;
    }

    /* Smartphones (portrait and landscape) ----------- */
    @media @phone {
      flex: 0 1 100%;
      margin-right: 0 !important;
      min-height: 24em;
    }
  }

  .wsb-tile-title {
    display: block;
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: none !important;
    .transition(all .15s ease);

    &:hover {
      opacity: .85;
    }

    @media @desktop {
      font-size: 1.3em;
    }

  }

  .wsb-tile .wsb-free {
    position: absolute;
    right: 0;
    top: -0.1em;
  }

  .wsb-tile-info {
    margin-bottom: 0.25em;

    @media @phone, @tablet {
      font-size: 0.65em;
    }
  }

  .wsb-tile-content {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;

    .wsb-trainer {
      margin: 0;
      display: flex;

      @media @phone {
        font-size: 2em;
      }

      a {
        margin-right: 0.4em;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .wsb-name {
      margin-top: 0.4em;
    }

    .wsb-photo {
      display: block;
      float: left;
      margin-right: 13px;
      height: 35px;
      border-radius: 10px;

      @media @phone {
        height: 2em;
      }
    }

  }

  .wsb-tile-button {
    height: 70px;
    bottom: -70px;
    position: absolute;
    right: 0;
    left: 0;
    .transition(all .15s ease);

    &:before {
      content: '';
      position: absolute;
      height: 50px;
      right: 0;
      left: 0;
      top: -50px;
      .transition(all .15s ease);
    }

    @media @tablet {
      bottom: 0;
    }
    /* Smartphones (portrait and landscape) ----------- */
    @media @phone {
      display: none;
    }
  }

  .wsb-tile-btn {
    padding: 0;
    height: 70px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    font-size: 1.5em;
    line-height: 3em;
    font-weight: bold;
    border-radius: 0;
    width: 100%;

  }

}
