
.wsb-content {

  .wsb-no-trainers {
    display: none;
    margin-bottom: 30px;
  }

  .wsb-trainer-tile {
    flex: 0 0 200px;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: left;
    margin: 1%;

    @media @tablet {
      flex: 0 0 30%;
    }

    /* Smartphones (portrait and landscape) ----------- */
    @media @phone {
      flex: 0 1 100%;
      margin-right: 0 !important;
      min-height: 24em;
    }
  }

  .wsb-trainer-tile:nth-of-type(4n+1) {
    margin-left: 0;
  }

  .wsb-trainer-tile__box {
    position: relative;
  }

  .wsb-trainer-tile_img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 180px;

    @media @phone {
      height: 26em;
    }
  }

  .wsb-trainer-tile__info {
    background-color: #fbfbfb;
    padding: 1em 2em;
    line-height: 2em;
    height: 8em;

    @media @phone {
      font-size: 2em;
      height: 6em;
    }
  }

  .wsb-trainer-tile__country {
    color: #797979;
    text-decoration: none;
    font-weight: normal;
  }
}
