---
layout: layouts/base_widget.njk
title: Attendees
permalink: /attendees/
templateEngineOverride: false
tags: ['widget']
---

<div id="wsb-endorsement-list"></div>

<script>
  const apiKey = siteConfig.apiKey;
  const themeName = siteConfig.theme ? siteConfig.theme : 'alfred';
  document.addEventListener('wsbwidgetsloaded', function() {
    const widgets = [
      {
        type: 'AttendeeList',
        target: '#wsb-endorsement-list',
        free: false,
        filters: [['search'], ['location', 'type']],
        types: [150, 151],
        theme: themeName,
        length: 10
      }
    ];
    const config = {
      apiKey: apiKey,
      locale: 'en',
    };

    WorkshopButlerWidgets.launch(config, widgets);
  });
</script>
<script type="application/nunjucks" id="attendee-tmpl">
  <span class="wsb-cite">
    <strong>{{ attendee.fullName() }}</strong>
  </span>
  {% if attendee.event %}
    {% if attendee.event.type %}
      <p>
        <strong>{{ attendee.event.type.name }}</strong>
      </p>
    {% endif %}
    <p>
      Participated in {{ attendee.event.title }} on {{ _f(attendee.event.schedule, 'full_short') }}
    </p>
  {% endif %}
  {% if attendee.certificate %}
    <p>
      Certificate: #{{ attendee.certificate }}
    </p>
  {% endif %}
</script>
