{% macro renderTitle(event, config, _t, _f) %}
  <div class="wsb-table__col wsb-table__col-title {{ "with-badge" if event.type.badge }}">
    {% if event.type.badge %}
      <img class="wsb-table__img" src="{{ event.type.badge }}">
    {% endif %}
    <a href="{{ event.url }}" class="wsb-table__link">{{ event.title }}</a>
    {% from "./../tag.njk" import tag %}
    {{ tag(event, config, _t, _f, false) }}
  </div>
{% endmacro %}
