.wsb-content {
  position: relative;
  min-height: 100%;
  min-width: 320px;
  max-width: 1170px;
  font-size: 16px;
  line-height: 1.42857143;


  .wsb-center {
    margin-right: auto;
    margin-left: auto;
  }

  // header
  .wsb-header h1 {
    margin: 0 0 14px;
    font-size: 48px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;

    @media (max-width: 800px) {
      font-size: 42px;
    }
  }

  // body layout
  .wsb-body {
    display: flex;
    flex-direction: column;
  }

  // info block
  .wsb-info-block {
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .wsb-info {
    margin-bottom: 2em;

    @media (max-width: 800px) {
      margin-bottom: 1em;
    }
  }

  .wsb-info__title {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;

    span {
      display: none;
    }
  }

  .wsb-info__footer {
    color: #888888;
  }

  .wsb-cover-image {
    width: 100%;
  }
}
